{% extends "base.html.twig"%}

{%block title %} {{title}} {% endblock %}



{% block body %}

<h1>{{message}} </h1>

{% endblock %}



{% block footer %}
        <div class="container">
        <h3> Footer </h3>
        </div>
        
 {% endblock %}
